@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@700&family=Montserrat&family=Playfair+Display&display=swap');

.main, button {
    font-family: 'Aref Ruqaa', serif;
    
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: bisque;
}

.position-calculator {
    background-color: rgb(72, 145, 120); 
    padding: 20px;
    border: 1px solid rgb(7, 4, 4);
    border-radius: 10px; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 300px;
}

.calculator__result, .calculator__button {
    background-color:  #e68e53ec;
    color: brown;
    border: 1px solid  #aed6f1;
    padding: 10px 15px;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 5px;
}

.calculator__result {
	grid-column: 1 / span 4;
	text-align: end;
	background-color: aliceblue;
}

.calculator__button {
	cursor: pointer;
}

.calculator__button:hover{
	background-color: #8f532bec;
}